<!doctype html>
<head id="www-sitename-com" data-template-set="html5-reset">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="title" content="">
  <meta name="description" content="">
  <meta name="author" content="ninjinkun">
  <meta name="Copyright" content="Copyright ninjinkun 2012. All Rights Reserved.">
  <meta name="DC.title" content="Feedback">
  <meta name="DC.subject" content="Feedback is ...">
  <meta name="DC.creator" content="ninjinkun">
  <!--link rel="shortcut icon" href="_/img/favicon.ico"-->
  <!--link rel="apple-touch-icon" href="_/img/apple-touch-icon.png"-->
  <link rel="stylesheet" href="/css/feedback.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</head>
<body>
<div id="language"><a href="/feedback/">English</a> / <a href="/feedback/ja/">日本語</a></div>
<div id="container">
  {{content}}
</div>
</body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=385481141526705";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</html>